<div class="container">
  <div class="mb-3">
    <%= link_to @friendship %>

    <p>
      <strong>Status:</strong>
      <%= @friendship.status %>
    </p>
  </div>
  <div class="buttons">
    <%= accept_friendship_button(@friendship, current_user&.profile) %>
    <%= destroy_friendship_button(@friendship, current_user&.profile) %>
    <%= block_button(@friendship, current_user&.profile) %>
  </div>
</div>
